{% extends "base.html" %} <!--this must be first tag in html-->
 <!--FIRST LOAD STATIC FILES IN TEMPLATE AND GIVE REFERENCE TO SUCH STATIC FILES-->
{% load static %}

{% block content %}

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
</style>
</head>
<body>
<div class="about-section">
    <h1>About LogicDigest</h1>
    <p>You will have fantastic reading over here</p>
    <p>Hahahahahahaha</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src={% static 'img/profile.jpg' %} alt="Pravesh" style="width:100%">
        <div class="container">
          <h2>Pravesh Pokhrel</h2>
          <p class="title">Co-Founder</p>
          <p>He is great</p>
          <p>pokhrel.pravesh@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src={% static 'img/kripesh.jpg' %} alt="Kripesh" style="width:100%">
        <div class="container">
          <h2>Kripesh Kishor Ghimire</h2>
          <p class="title">Co-Founder</p>
          <p>He is more great</p>
          <p>ghimire.kripesh@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src={% static 'img/sakshi.jpg' %} alt="Sakshi" style="width:100%">
        <div class="container">
          <h2>Sakshi Kakkar</h2>
          <p class="title">Program Manager</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>sakshikakkar22@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}