{% load static %}

<!DOCTYPE html>
<html>

    <head>
        <title>logicdigest-blogpost</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <meta name="google" content="notranslate" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous" />
            <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
            <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
         
            <link rel="stylesheet" href={% '/static/css/index.css' %}>
        <!-- <link rel="stylesheet" type="text/css/img" href="{% static '/css/main.css' %}"> -->
    </head>

    <body>
        <style>
            body {
            font-family: Verdana;
            font-size: 17px;
            background-color: #fdfdfd;
        }
        .shadow {
            box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
        }
        .btn-danger {
            color: #fff;
            background-color: #f00000;
            border-color: #dc281e;
        }
        .masthead {
            background: #3398E1;
            height: auto;
            padding-bottom: 15px;
            box-shadow: 0 16px 48px #E3E7EB;
            padding-top: 10px;
        }
    </style>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" color="#fff" href="{% url 'home' %}">Logic Digest</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            
            <li class="nav-item active">
                    <a class="nav-link" href="{% url 'blog_list' %}">Blogs</a>
            </li>

            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Services
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                <li><a class="dropdown-item" href="#">Research</a></li>
                <li><a class="dropdown-item" href="#">Content Development</a></li>
                <li><a class="dropdown-item" href="#">Advertisement</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Link</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
    </nav>
        <!-- Navigation -->
        
        {% block content %} 
        <!-- The deines the block that can be overrridden by child templates, this is where the content from the other HTML file will get injected. Content Goes here -->
        {% endblock content %}
        
        <!-- Footer -->
        <footer class="footer-distributed">
 
          <div class="footer-left">
          
          <h3>WebDev<span>Trick</span></h3>
          
          <p class="footer-links">
          <a href="#">Home</a>
          ·
          <a href="#">Blog</a>
          ·
          <a href="#">Pricing</a>
          ·
          <a href="#">About</a>
          ·
          <a href="#">Faq</a>
          ·
          <a href="#">Contact</a>
          </p>
          
          <p class="footer-company-name">webdevtrick &copy; 2019</p>
          </div>
          
          <div class="footer-center">
          
          <div>
          <i class="fa fa-map-marker"></i>
          <p><span>21 Revolution Street</span> Delhi, India</p>
          </div>
          
          <div>
          <i class="fa fa-phone"></i>
          <p>+1 555 123456</p>
          </div>
          
          <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:support@company.com">contact@webdevtrick.com</a></p>
          </div>
          
          </div>
          
          <div class="footer-right">
          
          <p class="footer-company-about">
          <span>About the company</span>
          Web Dev Trick is a blog for web designers, graphic designers, web developers &amp; SEO Learner.
          </p>
          
          <div class="footer-icons">
          
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-github"></i></a>
          
          </div>
          
          </div>
          
          </footer>

        <!-- foter ends-->
    </body>
</html>