{% extends "base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href={% static '/css/index.css' %}>

<h1> sLIDGER bEGINS hERE</h1>

<!-- banner starts-->
<div class="main-banner header-text" id="top">
    <div class="Modern-Slider slick-initialized slick-slider slick-dotted" role="toolbar"><button class="PrevArrow slick-arrow" style=""></button>
      <!-- Item -->
      <div aria-live="polite" class="slick-list"><div class="slick-track" role="listbox" style="opacity: 1; width: 6550px; transform: translate3d(-2620px, 0px, 0px);"><div class="item item-3 slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" tabindex="-1" style="width: 1310px;">
        <div class="img-fill">
            <div class="text-content">
              <h6>LOGIC-DIGEST</h6>
              <h4>Market Analysis<br>&amp; Statistics</h4>
              <p>Vivamus ut tellus mi. Nulla nec cursus elit, id vulputate mi. Sed nec cursus augue. Phasellus lacinia ac sapien vitae dapibus. Mauris ut dapibus velit cras interdum nisl ac urna tempor mollis.</p>
              <a href="about.html" class="filled-button" tabindex="-1">learn more</a>
            </div>
        </div>
      </div><div class="item item-1 slick-slide" data-slick-index="0" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide00" style="width: 1310px;">
        <div class="img-fill">
            <div class="text-content">
              <h6>we are ready to help you</h6>
              <h4>Financial Analysis<br>&amp; Consulting</h4>
              <p>This finance HTML template is 100% free of charge provided by TemplateMo for everyone. You can download, edit and use this layout for your business website.</p>
              <a href="contact.html" class="filled-button" tabindex="-1">contact us</a>
            </div>
        </div>
      </div><div class="item item-2 slick-slide slick-current slick-active" data-slick-index="1" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide01" style="width: 1310px;">
        <div class="img-fill">
            <div class="text-content">
              <h6>we are here to support you</h6>
              <h4>Accounting<br>&amp; Management</h4>
              <p>You are allowed to use this template for your company websites. You are NOT allowed to re-distribute this template ZIP file on any template download website. Please contact TemplateMo for more detail.</p>
              <a href="services.html" class="filled-button" tabindex="0">our services</a>
            </div>
        </div>
      </div><div class="item item-3 slick-slide" data-slick-index="2" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide02" style="width: 1310px;">
        <div class="img-fill">
            <div class="text-content">
              <h6>we have a solid background</h6>
              <h4>Market Analysis<br>&amp; Statistics</h4>
              <p>Vivamus ut tellus mi. Nulla nec cursus elit, id vulputate mi. Sed nec cursus augue. Phasellus lacinia ac sapien vitae dapibus. Mauris ut dapibus velit cras interdum nisl ac urna tempor mollis.</p>
              <a href="about.html" class="filled-button" tabindex="-1">learn more</a>
            </div>
        </div>
      </div><div class="item item-1 slick-slide slick-cloned" data-slick-index="3" aria-hidden="true" tabindex="-1" style="width: 1310px;">
        <div class="img-fill">
            <div class="text-content">
              <h6>we are ready to help you</h6>
              <h4>Financial Analysis<br>&amp; Consulting</h4>
              <p>This finance HTML template is 100% free of charge provided by TemplateMo for everyone. You can download, edit and use this layout for your business website.</p>
              <a href="contact.html" class="filled-button" tabindex="-1">contact us</a>
            </div>
        </div>
      </div></div></div>
      <!-- // Item -->
      <!-- Item -->
      
      <!-- // Item -->
      <!-- Item -->
      
      <!-- // Item -->
    <button class="NextArrow slick-arrow" style=""></button><ul class="slick-dots" style="display: block;" role="tablist"><li class="" aria-hidden="true" role="presentation" aria-selected="true" aria-controls="navigation00" id="slick-slide00"><button type="button" data-role="none" role="button" tabindex="0">1</button></li><li aria-hidden="false" role="presentation" aria-selected="false" aria-controls="navigation01" id="slick-slide01" class="slick-active"><button type="button" data-role="none" role="button" tabindex="0">2</button></li><li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation02" id="slick-slide02" class=""><button type="button" data-role="none" role="button" tabindex="0">3</button></li></ul></div>
</div>
<!--banner ends-->

<!--Central Cards-->
        <div class="card text-center">
            <div class="card-header">
            All of this is for you.
            </div>
            <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">You can connect with us through mail or phone number. Also, posting of your written content cant be requested.</p>
            <a href="about_us.html" class="btn btn-primary">Go to About Us</a>
            </div>
            <div class="card-footer text-muted">
             7 days ago
            </div>
        </div>
<br>
<br>

<!-- Another Cards-->

<div class="card mb-3">
    <img src={% static 'img/landscape1.jpg ' %} class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Recent Development - Featured</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src={% static 'img/landscape2.jpg' %} class="card-img-bottom" alt="landscape2">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
    
  </div>
<br>


<div class="card-boxes">
<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
  <div class="card-header">Business</div>
  <div class="card-body">
    <h5 class="card-title">Primary card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
  <div class="card-header">Current Affairs</div>
  <div class="card-body">
    <h5 class="card-title">Secondary card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card text-white bg-success mb-3" style="max-width: 18rem;">
  <div class="card-header">Subject Gothrough</div>
  <div class="card-body">
    <h5 class="card-title">Success card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
  <div class="card-header">Corona-Update</div>
  <div class="card-body">
    <h5 class="card-title">Danger card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</div>


<br>


{%endblock%}