{% block sidebar %}

            <style>
                    .card{
                        box-shadow: 0 16px 48px #E3E7EB;
                    }
                
            </style>

            <!-- Sidebar Widgets Column -->
            <div class="container col-md-4 float-right ">
            <div class="card my-4">
                    <h5 class="card-header">About Us</h5>
                <div class="card-body">
                    <p class="card-text"> We will post recent devlopment that is happening in many fields. We will look after what information is true and correct, verified as far as possible. We will also share a source link if any. Mostly we will tell you what is happening around the world of enterprenuership, polictics and economics.</p>
                    <a href="{% url 'about_us'%}" class="btn btn-danger">Know more!</a>
                </div>
            </div>
            </div>

{% endblock sidebar %}